/* <!-- 1) შექმენით ლინკი და გამოიყენეთ :link ფსევდო-სელექტორი, თქვენს ლინკს მიანიჭეთ შემდეგი კუთვნილებები: ფერი ლურჯი, ტექსტის ზომა 18px და წაუშალეთ ქვედა ხაზი. --> */






.facebook:link{
color:white;
background-color:blue;
font-size:18px;
text-decoration:none;
}





















