/* 2) შექმენით ლინკი და გამოიყენეთ :hover ფსევდო-სელექტორი, რომ მაუსის მიტანისას ტექსტი გახდეს bold და ფერი შეიცვალოს და გახდეს წითელი. */




.facebook:hover{
color: red;
font-weight: bold;
font-size: 45px;
}



















