/* 
1)შექმენი დივი -- > მიეცი ზომები 600პხ სიგანე და სიმაღლეც ,ასევე მიეცით ბორდერი
ამ შვილ ელემენტში შექმენით 4 ცალი დივი --> მიეცი ზომები 100px სიგანე სიმაღლე,
ფონის ფერი იასამნისფერი და ბორდერი ყვითელიფ ფერის
შენი დავალებაა რომ ეს შვილი ელემენტები განალაგო ზემოდან ქვემოთ(y ღერძზე)
საბოლოო შედეგის მიღების შემდეგ გატესტეთ flex-firection ის 4 ივე კუთვნილება
 რომ ნახოთ რას აკეთებს თითოეული მათგანი და დააკომენტარეთ */

.parent{
    width: 600px;
    height: 600px;
    border:3px solid yellow;
    display: flex;
    flex-direction: column;
}
.child{
    width: 100px;
    height: 100px;
    background-color: purple;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;    
}





































