a{
display:block;
text-align:center;
font-size:45px;
font-weight:bold;
text-decoration:none;
}


.link1:hover{
color:white;
background-color:red;
}


.link2:active{
color:white;
background-color:green;
}

.link3:visited{
color:white;
background-color:purple;
}


.link4:focus{
color:white;
background-color:orange;
}





























