
/* p {
    font-size: 50px;
    color: yellow;
    border: 3px solid green;
    text-align: center;
}


button {
    width: 100px;
    height: 60px;
    background-color: red;
    color: yellow;
    border: none;
    margin: 5px;
} */


div ul li {
    color: red;
    font-size: 35px;
    border: 3px solid green;
    background-color: blue;
    margin: 5px;
    list-style: none;
}


nav ul li {
    color: brown;
    font-size: 50px;
    border: 4px solid purple;
    background-color: yellow;
    margin: 5px;
    list-style: none;
}
