
.button1 {
    color: red;
    font-size: 40px;
    background-color: green;
    border: 3px solid purple;
    padding: 10px 20px;
    margin: 5px;
}


.button2 {
    color: orange;
    font-size: 20px;
    background-color: violet;
    border: none;
    padding: 10px 20px;
    margin: 5px;
}
