#supra { font-weight: 100; }

#bmw { font-weight: 200; }

#gclass { font-weight: 300; }

#r8 { font-weight: 400; }

#aventador { font-weight: 500; }

#ferrari { font-weight: 600; }

#porsche { font-weight: 700; }

#gtr { font-weight: 800; }

#chiron { font-weight: 900; }