


.colorfur button{
    border-top: 4px solid red;
    border-right: 4px solid blue;
    border-bottom: 15px solid green;
    border-left: 13px solid green;
    padding: 30px;
}



.adamiani1{
    margin: 80px 20px;
}


.adamiani2{
    margin: 40px;
}

.adamiani3{
     margin: 10px 60px 35px 80px;
}

.adamiani4{
     margin-bottom: 45px

}














