.parent1 {
    display: flex;
    width: 350px;
    height: 300px;
    background-color: pink;
    border: 2px solid blue;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.child {
    padding: 30px;
    margin: 30px;
    font-size: 16px;
    background-color: violet;
}