@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#parent{
    width: 340px;
    height: 545px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}


img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 2px;
} 

h1{
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 23px;
}

#london{
    color: hsl(75, 94%, 57%);
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
}

#Front-end{
    color: rgb(194, 194, 194);
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0px 21px 0px;
    
    
}

button{
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-radius: 6px;
    width: 105%;
    height: 40px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 93%;
    gap: 15px;
} 

