

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family:"Inter", sans-serif;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-self: center;
    justify-content: center;
}

.parent{
    width: 384px;
    height: 613px;
    background: hsl(0, 0%, 12%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}


img{
    width: 90px;
    border-radius: 50%;
}

h1{
    color: white;
}





























